<div class="row">
  <div class="col-md-6 col-md-offset-3">


<%= form_for(nreport) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
  <%= f.label :nrt01, '1t' %><%= f.text_area :nrt01, class: 'form-control', rows: 1 %>
  <%= f.label :nrm01, '# ' %><%= f.text_area :nrm01, class: 'form-control', rows: 1 %>
  <%= f.label :nrs01, '1s' %><%= f.text_area :nrs01, class: 'form-control', rows: 3 %>
  <%= f.label :nro01, '1o' %><%= f.text_area :nro01, class: 'form-control', rows: 3 %>
  <%= f.label :nra01, '1a' %><%= f.text_area :nra01, class: 'form-control', rows: 3 %>
  <%= f.label :nrp01, '1p' %><%= f.text_area :nrp01, class: 'form-control', rows: 3 %>

  <%= f.label :nrt02, '2t' %><%= f.text_area :nrt02, class: 'form-control', rows: 1 %>
  <%= f.label :nrm02, '# ' %><%= f.text_area :nrm02, class: 'form-control', rows: 1 %>
  <%= f.label :nrs02, '2s' %><%= f.text_area :nrs02, class: 'form-control', rows: 3 %>
  <%= f.label :nro02, '2o' %><%= f.text_area :nro02, class: 'form-control', rows: 3 %>
  <%= f.label :nra02, '2a' %><%= f.text_area :nra02, class: 'form-control', rows: 3 %>
  <%= f.label :nrp02, '2p' %><%= f.text_area :nrp02, class: 'form-control', rows: 3 %>

  <%= f.label :nrt03, '3t' %><%= f.text_area :nrt03, class: 'form-control', rows: 1 %>
  <%= f.label :nrm03, '# ' %><%= f.text_area :nrm03, class: 'form-control', rows: 1 %>
  <%= f.label :nrs03, '3s' %><%= f.text_area :nrs03, class: 'form-control', rows: 3 %>
  <%= f.label :nro03, '3o' %><%= f.text_area :nro03, class: 'form-control', rows: 3 %>
  <%= f.label :nra03, '3a' %><%= f.text_area :nra03, class: 'form-control', rows: 3 %>
  <%= f.label :nrp03, '3p' %><%= f.text_area :nrp03, class: 'form-control', rows: 3 %>

  <%= f.label :nrt04, '4t' %><%= f.text_area :nrt04, class: 'form-control', rows: 1 %>
  <%= f.label :nrm04, '# ' %><%= f.text_area :nrm04, class: 'form-control', rows: 1 %>
  <%= f.label :nrs04, '4s' %><%= f.text_area :nrs04, class: 'form-control', rows: 3 %>
  <%= f.label :nro04, '4o' %><%= f.text_area :nro04, class: 'form-control', rows: 3 %>
  <%= f.label :nra04, '4a' %><%= f.text_area :nra04, class: 'form-control', rows: 3 %>
  <%= f.label :nrp04, '4p' %><%= f.text_area :nrp04, class: 'form-control', rows: 3 %>

  <%= f.label :nrt05, '5t' %><%= f.text_area :nrt05, class: 'form-control', rows: 1 %>
  <%= f.label :nrm05, '# ' %><%= f.text_area :nrm05, class: 'form-control', rows: 1 %>
  <%= f.label :nrs05, '5s' %><%= f.text_area :nrs05, class: 'form-control', rows: 3 %>
  <%= f.label :nro05, '5o' %><%= f.text_area :nro05, class: 'form-control', rows: 3 %>
  <%= f.label :nra05, '5a' %><%= f.text_area :nra05, class: 'form-control', rows: 3 %>
  <%= f.label :nrp05, '5p' %><%= f.text_area :nrp05, class: 'form-control', rows: 3 %>

  <%= f.label :nrt06, '6t' %><%= f.text_area :nrt06, class: 'form-control', rows: 1 %>
  <%= f.label :nrm06, '# ' %><%= f.text_area :nrm06, class: 'form-control', rows: 1 %>
  <%= f.label :nrs06, '6s' %><%= f.text_area :nrs06, class: 'form-control', rows: 3 %>
  <%= f.label :nro06, '6o' %><%= f.text_area :nro06, class: 'form-control', rows: 3 %>
  <%= f.label :nra06, '6a' %><%= f.text_area :nra06, class: 'form-control', rows: 3 %>
  <%= f.label :nrp06, '6p' %><%= f.text_area :nrp06, class: 'form-control', rows: 3 %>

  <%= f.label :nrt07, '7t' %><%= f.text_area :nrt07, class: 'form-control', rows: 1 %>
  <%= f.label :nrm07, '# ' %><%= f.text_area :nrm07, class: 'form-control', rows: 1 %>
  <%= f.label :nrs07, '7s' %><%= f.text_area :nrs07, class: 'form-control', rows: 3 %>
  <%= f.label :nro07, '7o' %><%= f.text_area :nro07, class: 'form-control', rows: 3 %>
  <%= f.label :nra07, '7a' %><%= f.text_area :nra07, class: 'form-control', rows: 3 %>
  <%= f.label :nrp07, '7p' %><%= f.text_area :nrp07, class: 'form-control', rows: 3 %>

  <%= f.label :nrt08, '8t' %><%= f.text_area :nrt08, class: 'form-control', rows: 1 %>
  <%= f.label :nrm08, '# ' %><%= f.text_area :nrm08, class: 'form-control', rows: 1 %>
  <%= f.label :nrs08, '8s' %><%= f.text_area :nrs08, class: 'form-control', rows: 3 %>
  <%= f.label :nro08, '8o' %><%= f.text_area :nro08, class: 'form-control', rows: 3 %>
  <%= f.label :nra08, '8a' %><%= f.text_area :nra08, class: 'form-control', rows: 3 %>
  <%= f.label :nrp08, '8p' %><%= f.text_area :nrp08, class: 'form-control', rows: 3 %>

  <%= f.label :nrt09, '9t' %><%= f.text_area :nrt09, class: 'form-control', rows: 1 %>
  <%= f.label :nrm09, '# ' %><%= f.text_area :nrm09, class: 'form-control', rows: 1 %>
  <%= f.label :nrs09, '9s' %><%= f.text_area :nrs09, class: 'form-control', rows: 3 %>
  <%= f.label :nro09, '9o' %><%= f.text_area :nro09, class: 'form-control', rows: 3 %>
  <%= f.label :nra09, '9a' %><%= f.text_area :nra09, class: 'form-control', rows: 3 %>
  <%= f.label :nrp09, '9p' %><%= f.text_area :nrp09, class: 'form-control', rows: 3 %>

  <%= f.label :nrt10, '10t' %><%= f.text_area :nrt10, class: 'form-control', rows: 1 %>
  <%= f.label :nrm10, '# ' %><%= f.text_area :nrm10, class: 'form-control', rows: 1 %>
  <%= f.label :nrs10, '10s' %><%= f.text_area :nrs10, class: 'form-control', rows: 3 %>
  <%= f.label :nro10, '10o' %><%= f.text_area :nro10, class: 'form-control', rows: 3 %>
  <%= f.label :nra10, '10a' %><%= f.text_area :nra10, class: 'form-control', rows: 3 %>
  <%= f.label :nrp10, '10p' %><%= f.text_area :nrp10, class: 'form-control', rows: 3 %>

  </div>
  <%= f.submit '入力', class: 'btn btn-primary btn-xs' %>
<% end %>


</div></div>

