<!-- プロファイル -->

<div class="container">
<div class="row">
<div class="col-md-12">


<table border="1" width="1100" cellspacing="0" cellpadding="5" bordercolor="#CCCCFF">
<tr>
<th bgcolor="#CCCCFF"><u>&nbsp;入院 病棟<br>&nbsp;緩和ケア</u></th>
<th bgcolor="#CCCCFF">ID: <%= @patient.id %><br><u>国保30本人(30%)</u></th>
<th bgcolor="#CCCCFF">
        <% if @patient.gender == '男' %>
          <%= image_tag 'men.png', :title => '男性', :size => '100x50', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'women.png', :title => '女性', :size => '100x50', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF"><font size="6"><u>
              <ruby>
            <rb><%= @patient.pname %></rb>
            <rp>（</rp><rt><%= @patient.kana %></rt><rp>）</rp>
            </ruby>
</u></font></th>
<th bgcolor="#CCCCFF">
        <% if @patient.infection == '有' %>
          <%= image_tag 'alrt_y.png', :title => '感染症：HCV(+)', :size => '40x40', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'alrt_n.png', :title => '感染症未確認', :size => '40x40', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF">
        <% if @patient.id == '3' %>
          <%= image_tag 'arg_y.png', :title => '青魚禁', :size => '40x40', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'arg_n.png', :size => '40x40', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF"><%= @patient.age %>歳00ヶ月&ensp;&ensp;&ensp;<%= @patient.bloodtype %>型Rh(*)&ensp;&ensp;&ensp;<u><%= @patient.height %>cm&ensp;<%= @patient.weight %>Kg</u></th>
<th bgcolor="#CCCCFF">
  <a href="/profiles/<%= @patient.id %>" class="btn btn-default btn-sm active" role="button">Prof</a><br>
  <a href="#" class="btn btn-default btn-sm active" role="button" disabled="disabled">病名</a>
</th>
<th bgcolor="#CCCCFF">
<button type="button" class="btn btn-default btn-sm active" disabled="disabled">確定</button>
<a href="javascript:history.back()" class="btn btn-default btn-sm active">戻る</a>
</th>
</table>

<div class="ao">&ensp;プロファイルメニュー</div>



<div role="tabpanel">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li role="presentation" class="page-item active"><a href="#sougou" aria-controls="sougou" role="tab" data-toggle="tab">総合情報</a></li>
    <li role="presentation" class="page-item"><a href="#prof01" aria-controls="prof01" role="tab" data-toggle="tab">基本&#9312;</a></li>
    <li role="presentation" class="page-item"><a href="#prof02" aria-controls="prof02" role="tab" data-toggle="tab">基本&#9313;</a></li>
    <li role="presentation" class="page-item"><a href="#prof03" aria-controls="prof03" role="tab" data-toggle="tab">既往情報</a></li>
    <li role="presentation" class="page-item"><a href="#prof04" aria-controls="prof04" role="tab" data-toggle="tab">ｱﾚﾙｷﾞｰ</a></li>
    <li role="presentation" class="page-item"><a href="#prof05" aria-controls="prof05" role="tab" data-toggle="tab">障害,生活</a></li>
    <li role="presentation" class="page-item"><a href="#prof06" aria-controls="prof06" role="tab" data-toggle="tab">身体情報</a></li>
    <li role="presentation" class="page-item"><a href="#prof07" aria-controls="prof07" role="tab" data-toggle="tab">家族構成</a></li>
    <li role="presentation" class="page-item"><a href="#prof08" aria-controls="prof08" role="tab" data-toggle="tab">その他</a></li>
  </ul>
</nav>


<!--Tab panes -->
  <div class="tab-content">
<!--総合 -->
<div role="tabpanel" class="tab-pane active" id="sougou"><div class="sougou">
<div class="space5">
<table border="3" bordercolor="#C0C0C0" width="950" cellspacing="5">
<tr><th bgcolor="#C0C0C0" colspan="13"><font color="#0000CD">身体的情報</font></th></tr>
<tr><th bgcolor="#C0C0C0" rowspan="6" width="20"><button type="button" class="btn btn-default btn-sm active"><br>&nbsp;<br>&nbsp;<br>新規<br>登録<br>&nbsp;<br><br>&nbsp;<br></button></tr>

<tr>
<td bgcolor="#C0C0C0" align="right" width="80">身長&nbsp;</td>
<td bgcolor="#FFFFFF" width="70">&nbsp;<%= @patient.height %></td>
<td bgcolor="#C0C0C0" width="80">cm&emsp;測定日&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;00/00/00</td>
<td bgcolor="#C0C0C0" width="30"><button type="button" class="btn btn-default btn-sm active">身長歴</button></td>
<td bgcolor="#C0C0C0" rowspan="5"><button type="button" class="btn btn-default btn-sm active"><br>&nbsp;<br>&nbsp;<br><br>グラフ<br><br>&nbsp;<br><br>&nbsp;<br></button></td>
<td bgcolor="#C0C0C0" align="right" width="50">血液型&nbsp;</td>
<td bgcolor="#C0C0C0" align="right" width="70">ＡＢＯ型&nbsp;</td>
<td bgcolor="#FFFFFF" width="60">&nbsp;<%= @patient.bloodtype %>型</td>
<td bgcolor="#C0C0C0" align="right" width="70">Ｒｈ型&nbsp;</td>
<td bgcolor="#FFFFFF" width="60">&nbsp;+</td>
</tr>

<tr>
<td bgcolor="#C0C0C0" align="right">体重&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;<%= @patient.weight %></td>
<td bgcolor="#C0C0C0">kg&emsp;測定日&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;00/00/00</td>
<td bgcolor="#C0C0C0"><button type="button" class="btn btn-default btn-sm active">体重歴</button></td>
<td bgcolor="#C0C0C0" align="right">&nbsp;</td>
<td bgcolor="#C0C0C0" align="right">亜型&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0" align="right">確定情報&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
</tr>

<tr>
<td bgcolor="#C0C0C0" align="right">胸囲&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0">cm&emsp;測定日&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0"><button type="button" class="btn btn-default btn-sm active">胸囲歴</button></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
</tr>

<tr>
<td bgcolor="#C0C0C0" align="right">座高&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0">cm&emsp;測定日&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0"><button type="button" class="btn btn-default btn-sm active">座高歴</button></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
</tr>

<tr>
<td bgcolor="#C0C0C0" align="right">頭囲&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0">cm&emsp;測定日&nbsp;</td>
<td bgcolor="#FFFFFF">&nbsp;</td>
<td bgcolor="#C0C0C0"><button type="button" class="btn btn-default btn-sm active">頭囲歴</button></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
</tr>
<tr>
<th bgcolor="#C0C0C0" colspan="2"><font color="#0000CD">アレルギーの有無</font></th>
<td bgcolor="#FFFFFF" colspan="2">
        <% if @patient.id == '3' %>
          &nbsp;有：青魚禁
        <% else %>
          &nbsp;無
        <% end %>
</td>
<td bgcolor="#C0C0C0" colspan="5">※アレルギーの詳細内容は「アレルギー」画面より入力を行ってください</td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>
<td bgcolor="#C0C0C0"></td>

</tr>
</table>
</div>
</div></div>

<!--基本１ -->
<div role="tabpanel" class="tab-pane" id="prof01"><div class="prof01">
<div class="space14">
<table border="3" bordercolor="#C0C0C0" width="455" cellspacing="5">
<tr>
<td bgcolor="#C0C0C0" width="100">自宅住所</td>
<td bgcolor="#FFFFFF"><%= @patient.address %></td>
</tr>
<tr>
<td bgcolor="#C0C0C0">郵便番号</td>
<td bgcolor="#FFFFFF">&#12306;000-0000</td>
</tr>
<tr>
<td bgcolor="#C0C0C0">自宅電話番号</td>
<td bgcolor="#FFFFFF">000-000-0000</td>
</tr>
<tr>
<td bgcolor="#C0C0C0">緊急連絡先<br>医事課登録</td>
<td bgcolor="#FFFFFF">000-000-0000</td>
</tr>
</table>

<table border="2" bordercolor="#C0C0C0" width="475" cellspacing="5">
<tr>
<th bgcolor="#C0C0C0" colspan="4"><font color="#0000CD">緊急連絡</font></th>
</tr>
<tr>
<th bgcolor="#CCCCFF">電話番号</th>
<th bgcolor="#CCCCFF">携帯電話番号</th>
<th bgcolor="#CCCCFF">氏名</th>
<th bgcolor="#CCCCFF">本人との関係</th>
</tr>
<tr>
<td bgcolor="#FFFFFF">000-000-0000</td>
<td bgcolor="#FFFFFF">000-000-0000</td>
<td bgcolor="#FFFFff">&nbsp;鍵内一子</td>
<td bgcolor="#FFFFff">&nbsp;<%= @patient.keyp1 %></td>
</tr>
<tr>
<td bgcolor="#FFFFFF">000-000-0000</td>
<td bgcolor="#FFFFFF">000-000-0000</td>
<td bgcolor="#FFFFff">&nbsp;鍵内二子</td>
<td bgcolor="#FFFFff">&nbsp;<%= @patient.keyp3 %></td>
</tr>
<tr>
<td bgcolor="#FFFFFF">000-000-0000</td>
<td bgcolor="#FFFFFF">000-000-0000</td>
<td bgcolor="#FFFFff">&nbsp;鍵内一夫</td>
<td bgcolor="#FFFFff">&nbsp;<%= @patient.keyp3 %></td>
</tr>
</table>

</div>
</div></div>

    <div role="tabpanel" class="tab-pane" id="prof02"><div class="prof02"></div></div>
    <div role="tabpanel" class="tab-pane" id="prof03"><div class="prof03"></div></div>
    <div role="tabpanel" class="tab-pane" id="prof04"><div class="prof04"></div></div>
    <div role="tabpanel" class="tab-pane" id="prof05"><div class="prof05"></div></div>
    <div role="tabpanel" class="tab-pane" id="prof06"><div class="prof06"></div></div>
<!--家族構成 -->
<div role="tabpanel" class="tab-pane" id="prof07">
<div class="prof07">
<div class="space15">
<table border="2" bordercolor="#C0C0C0" width="900">
<tr>
<th bgcolor="#C0C0C0" colspan="8"><font color="#0000CD">本人</font></th>
</tr>
<tr>
<th bgcolor="#CCCCFF" align="center">性別</th>
<th bgcolor="#CCCCFF" align="center">生年月日</th>
<th bgcolor="#CCCCFF" align="center">年齢</th>
<th bgcolor="#CCCCFF" align="center">死亡</th>
<th bgcolor="#CCCCFF" align="center">死亡年月日</th>
<th bgcolor="#CCCCFF" align="center">既往歴</th>
<th bgcolor="#CCCCFF" align="center"></th>
<th bgcolor="#CCCCFF" align="center">メモ（全角２５文字まで）</th>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.gender %></td>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.birthday .strftime("%Y年%m月%d日") %></td>
<td bgcolor="#FFFFff" align="center">&nbsp;<%= @patient.age %></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">表示</button></td>
<td bgcolor="#FFFFff" align="center">&nbsp;</td>
</tr>
</table>

<table border="2" bordercolor="#C0C0C0" width="900">
<tr>
<th bgcolor="#C0C0C0" colspan="5"><font color="#0000CD">家族情報</font></th>
<th bgcolor="#C0C0C0" colspan="6"><font color="#000000">※未婚欄は配偶者（未婚姻）とその子供に同じ数字を指定してください</font></th>
</tr>
<tr>
<th bgcolor="#CCCCFF" align="center">関連</th>
<th bgcolor="#CCCCFF" align="center">性別</th>
<th bgcolor="#CCCCFF" align="center">年齢</th>
<th bgcolor="#CCCCFF" align="center">死亡</th>
<th bgcolor="#CCCCFF" align="center">既往歴</th>
<th bgcolor="#CCCCFF" align="center"></th>
<th bgcolor="#CCCCFF" align="center">同</th>
<th bgcolor="#CCCCFF" align="center">氏名</th>
<th bgcolor="#CCCCFF" align="center">患者ＩＤ</th>
<th bgcolor="#CCCCFF" align="center">未</th>
<th bgcolor="#CCCCFF" align="center">コメント（全角２５文字まで）</th>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.keyp1 %></td>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.keyg1 %></td>
<td bgcolor="#FFFFff" align="center">&nbsp;00</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;鍵内一子</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.keyp2 %></td>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.keyg2 %></td>
<td bgcolor="#FFFFff" align="center">&nbsp;00</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;鍵内二子</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.keyp3 %></td>
<td bgcolor="#FFFFFF" align="center">&nbsp;<%= @patient.keyg3 %></td>
<td bgcolor="#FFFFff" align="center">&nbsp;00</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;鍵内一夫</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>

<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="q3" value="q3" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="riyu" value="1" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="riyu" value="1" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>
<tr>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFFF" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">&nbsp;</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="riyu" value="1" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="riyu" value="1" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff" align="center"><button type="button" class="btn btn-default btn-xs active">選択</button></td>
<td bgcolor="#FFFFff" align="center">
<input type="checkbox" name="riyu" value="1" disabled>&nbsp;
</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
<td bgcolor="#FFFFff">&nbsp;</td>
</tr>

</table>
</div>
<div class="space12"><img border="0" src="../images/fa01.png" alt="系図"></div>
</div></div>

<!--その他 -->
<div role="tabpanel" class="tab-pane" id="prof08"><div class="prof08"></div></div>
  </div>

</div>

</div>
</div>
</div>
