<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(dreport) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
  <%= f.label :drt01, '1t' %><%= f.text_area :drt01, class: 'form-control', rows: 1 %>
  <%= f.label :drs01, '1s' %><%= f.text_area :drs01, class: 'form-control', rows: 3 %>
  <%= f.label :dro01, '1o' %><%= f.text_area :dro01, class: 'form-control', rows: 3 %>
  <%= f.label :dra01, '1a' %><%= f.text_area :dra01, class: 'form-control', rows: 3 %>
  <%= f.label :drp01, '1p' %><%= f.text_area :drp01, class: 'form-control', rows: 3 %>

  <%= f.label :drt02, '2t' %><%= f.text_area :drt02, class: 'form-control', rows: 1 %>
  <%= f.label :drs02, '2s' %><%= f.text_area :drs02, class: 'form-control', rows: 3 %>
  <%= f.label :dro02, '2o' %><%= f.text_area :dro02, class: 'form-control', rows: 3 %>
  <%= f.label :dra02, '2a' %><%= f.text_area :dra02, class: 'form-control', rows: 3 %>
  <%= f.label :drp02, '2p' %><%= f.text_area :drp02, class: 'form-control', rows: 3 %>

  <%= f.label :drt03, '3t' %><%= f.text_area :drt03, class: 'form-control', rows: 1 %>
  <%= f.label :drs03, '3s' %><%= f.text_area :drs03, class: 'form-control', rows: 3 %>
  <%= f.label :dro03, '3o' %><%= f.text_area :dro03, class: 'form-control', rows: 3 %>
  <%= f.label :dra03, '3a' %><%= f.text_area :dra03, class: 'form-control', rows: 3 %>
  <%= f.label :drp03, '3p' %><%= f.text_area :drp03, class: 'form-control', rows: 3 %>

  <%= f.label :drt04, '4t' %><%= f.text_area :drt04, class: 'form-control', rows: 1 %>
  <%= f.label :drs04, '4s' %><%= f.text_area :drs04, class: 'form-control', rows: 3 %>
  <%= f.label :dro04, '4o' %><%= f.text_area :dro04, class: 'form-control', rows: 3 %>
  <%= f.label :dra04, '4a' %><%= f.text_area :dra04, class: 'form-control', rows: 3 %>
  <%= f.label :drp04, '4p' %><%= f.text_area :drp04, class: 'form-control', rows: 3 %>

  <%= f.label :drt05, '5t' %><%= f.text_area :drt05, class: 'form-control', rows: 1 %>
  <%= f.label :drs05, '5s' %><%= f.text_area :drs05, class: 'form-control', rows: 3 %>
  <%= f.label :dro05, '5o' %><%= f.text_area :dro05, class: 'form-control', rows: 3 %>
  <%= f.label :dra05, '5a' %><%= f.text_area :dra05, class: 'form-control', rows: 3 %>
  <%= f.label :drp05, '5p' %><%= f.text_area :drp05, class: 'form-control', rows: 3 %>

  </div>
  <%= f.submit '入力', class: 'btn btn-primary btn-xs' %>
<% end %>


</div></div>
