<h1>Listing テンプレート</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>テンプレート名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td><%= template.id %></td>
    <td><%= template.tna01 %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>

  </tr>
<% end %>
</table>

<br/>


<%= link_to 'New template', new_template_path %>|
<%= link_to 'patienthome', patients_path %>|
