
<!-- サイトマップ -->

<div class="container">
<div class="row">
<div class="col-md-12">

<table border="1" width="1100" cellspacing="0" cellpadding="5" bordercolor="#CCCCFF">
<tr>
<th bgcolor="#CCCCFF"><u>&nbsp;入院 病棟<br>&nbsp;緩和ケア</u></th>
<th bgcolor="#CCCCFF">ID: <%= @patient.id %><br><u>国保30本人(30%)</u></th>
<th bgcolor="#CCCCFF">
        <% if @patient.gender == '男' %>
          <%= image_tag 'men.png', :title => '男性', :size => '100x50', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'women.png', :title => '女性', :size => '100x50', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF"><font size="6"><u>
              <ruby>
            <rb><%= @patient.pname %></rb>
            <rp>（</rp><rt><%= @patient.kana %></rt><rp>）</rp>
            </ruby>
            </u></font></th>
<th bgcolor="#CCCCFF">
        <% if @patient.infection == '有' %>
          <%= image_tag 'alrt_y.png', :title => '感染症：HCV(+)', :size => '40x40', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'alrt_n.png', :title => '感染症未確認', :size => '40x40', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF">
        <% if @patient.id == '3' %>
          <%= image_tag 'arg_y.png', :title => '青魚禁', :size => '40x40', :style=>"float:left;" %><br>
        <% else %>
          <%= image_tag 'arg_n.png', :size => '40x40', :style=>"float:left;" %><br>
        <% end %>
</th>
<th bgcolor="#CCCCFF"><%= @patient.age %>歳00ヶ月&ensp;&ensp;&ensp;<%= @patient.bloodtype %>型Rh(*)&ensp;&ensp;&ensp;<u><%= @patient.height %>cm&ensp;<%= @patient.weight %>Kg</u></th>
<th bgcolor="#CCCCFF">
  <a href="/profiles/<%= @patient.id %>" class="btn btn-default btn-sm active" role="button">Prof</a><br>
  <a href="#" class="btn btn-default btn-sm active" role="button" disabled="disabled">病名</a>
</th>
<th bgcolor="#CCCCFF"><a href="/beds" class="btn btn-warning btn-sm active" role="button">カルテ<br>閉じる</a></th>
</tr>
</table>

</div>


<div class="col-md-2">
<div class="ao">&emsp;ナビゲーター</div>
<div class="panel panel-default">
  <div class="panel-body">
<div class="btn-group-vertical" role="group" aria-label="menu">
<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    自科カルテ（緩和）&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../dreports/<%= @patient.id %>">入18/01/15(月)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../dreports/<%= @hensu1 + @patient.id %>">入18/01/16(火)</a></li>
  </ul>
</div>

 <button type="button" class="btn btn-default btn-sm" disabled="disabled">全科カルテ</button>
 <button type="button" class="btn btn-default btn-sm" disabled="disabled">オーダー</button>

<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    &emsp;&nbsp;&nbsp;&nbsp;&nbsp;検査・報告&nbsp;&nbsp;&nbsp;&nbsp;&emsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../results/<%= @patient.id %>">18/01/15(月)血液</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">全科</a></li>
  </ul>
</div>

 <button type="button" class="btn btn-default btn-sm" disabled="disabled">介護記録</button>

<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    &emsp;&emsp;&nbsp;&nbsp;看護記録&nbsp;&nbsp;&emsp;&emsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../nreports/<%= @patient.id %>">18/01/15(月)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../nreports/<%= @hensu1 + @patient.id %>">18/01/16(火)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../nreports/<%= @hensu2 + @patient.id %>">18/01/17(水)</a></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    &emsp;&emsp;&nbsp;&nbsp;処方のみ&nbsp;&nbsp;&emsp;&emsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">18/01/15(月)</a></li><!--../prescriptions/<%= @patient.id %>">18/01/15(月)</a></li> -->
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">18/01/16(火)</a></li><!--../prescriptions/<%= @hensu1 + @patient.id %>">18/01/16(火)</a></li> -->
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">18/01/17(水)</a></li><!--../prescriptions/<%= @hensu2 + @patient.id %>">18/01/17(水)</a></li> -->
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    &emsp;&emsp;&nbsp;&nbsp;注射のみ&nbsp;&nbsp;&emsp;&emsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../injections/<%= @patient.id %>">18/01/15(月)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../injections/<%= @hensu1 + @patient.id %>">18/01/16(火)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../injections/<%= @hensu2 + @patient.id %>">18/01/17(水)</a></li>
  </ul>
</div>

 <button type="button" class="btn btn-default btn-sm" disabled="disabled">検体検査のみ</button>
 <button type="button" class="btn btn-default btn-sm" disabled="disabled">サマリのみ</button>
 <button type="button" class="btn btn-default btn-sm" disabled="disabled">生体検査のみ</button>
 <button type="button" class="btn btn-default btn-sm" disabled="disabled">作成文書</button>
 <button type="button" class="btn btn-default btn-sm" disabled="disabled">スキャナ</button>

<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    &nbsp;&nbsp;&emsp;テンプレート&emsp;&nbsp;&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../templates/<%= @patient.id %>">18/01/15(月)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../templates/<%= @hensu1 + @patient.id %>">18/01/16(火)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="../templates/<%= @hensu2 + @patient.id %>">18/01/17(水)</a></li>
  </ul>
</div>

 <button type="button" class="btn btn-default btn-sm" disabled="disabled">詳細検索</button>
 <button type="button" class="btn btn-default btn-sm" disabled="disabled">付箋</button>


</div><!-- btn-group-vertical -->
  </div>
</div>



</div><!-- col-md-2 -->

<div class="col-md-4">
<div class="ao">&emsp;過去記録</div>
</div>




<div class="col-md-4">
<div class="ao">&emsp;エディター(新規) <%= @patient.pname %></div><br>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">【看護記録】2018/01/17<br>
  01版：2018/01/17　看護師）看護花子</div>

  <!-- Table -->
  <table class="table-bordered">
  <tr>
    <td>&nbsp;＃</td>
    <td class="text-left"><font size="+1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</font></td>
  </tr>
  <tr>
    <td>&nbsp;看護計画</td>
    <td class="text-left"><font size="+1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</font></td>
  </tr>
  <tr>
    <td>&nbsp;看護指示</td>
    <td class="text-left"><font size="+1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</font></td>
  </tr>
  <tr>
    <td>&nbsp;ﾌｫｰｶｽ&SOAP</td>
    <td class="text-left"><font size="+1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</font></td>
  </tr>
  </table>
  </div>
</div>

<div class="col-md-2">
  <div class="sidebar">
<div class="space5">

<a href="/patients/1"><font size="2"><%= @name1 %></font></a><br>
<a href="/patients/3"><font size="2"><%= @name3 %></font></a><br>
<a href="/patients/4"><font size="2"><%= @name4 %></font></a><br>
<a href="/patients/5"><font size="2"><%= @name5 %></font></a><br>
<a href="/patients/7"><font size="2"><%= @name7 %></font></a><br>
<br>
<br>
<br>
<br>
<a href="../patients/<%= @patient.id %>">経過表</a><br>
<a href="../ninstructions/<%= @hensu2 + @patient.id %>">看護指示</a><br>
<a href="../dinstructions/<%= @patient.id %>">指示簿一覧</a><br>
<a href="../plans/<%= @patient.id %>">看護計画</a><br>
<a href="../schedules">患者スケジュール</a><br>
<a href="../nprofs/<%= @patient.id %>">看護プロファイル</a><br>
<a href="../beds/<%= @patient.id %>/foods/<%= @patient.id %>">移動食事カレンダ</a><br>
<a href="../beds/<%= @patient.id %>">掲示板</a><br>

</div>


  </div>
</div>






</div></div>
