<h1>Listing books</h1>

<table border="1">
  <tr>
    <th>planID</th>
    <th>bookID</th>
    <th>指標1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.plan %></td>
    <td><%= book.id %></td>
    <td><%= book.sihyou1 %></td>
    <td><%= link_to 'Show', plan_book_path(book.plan, book) %></td>
    <td><%= link_to 'Edit', edit_plan_book_path(book.plan, book) %></td>
    <!--    <td><%= link_to 'Destroy', plan_book_path(book.plan, book), method: :delete, data: { confirm: 'Are you sure?' } %></td>  -->
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New book', new_book_path %>
<%= link_to 'New book', new_plan_book_path %>|
<%= link_to 'PlanIndex', plans_path %>|

