  <table class="table">
  <caption>
  <strong>患者氏名一覧</strong>
  </caption>
  <thead>
  <tr><th class="text-center">id</th><th class="text-center">部屋番号</th><th class="text-center">患者名</th><th class="text-left">各種ボタン</th></tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
    <tr>
    <td><%= patient.id %></td>
    <td><%= patient.roomno %></td>
    <td><%= patient.pname %></td>
    <td>
    <%= link_to '編集', edit_patient_path(patient), class: 'btn btn-primary btn-xs' %>
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>
  <div class="media-body">
    <a href="/beds" class="btn btn-default">bedmap</a>
    <%= link_to '新規患者登録', new_patient_path, class: 'btn btn-success btn-xm' %>
  </div>

<%= link_to '新規バイタル', new_vital_path %>|
<%= link_to '新規医師指示簿', new_dinstruction_path %>|
<%= link_to '新規看護指示', new_ninstruction_path %>|

