<%= form_for(dinstruction) do |f| %>
  <div class="form-group">
  <%= f.label :di01, '指示：01' %><%= f.text_area :di01, class: 'form-control', rows: 1 %>
  <%= f.label :di02, '指示簿01' %><%= f.text_area :di02, class: 'form-control', rows: 3 %>
  <%= f.label :di03, '指示：02' %><%= f.text_area :di03, class: 'form-control', rows: 1 %>
  <%= f.label :di04, '指示簿02' %><%= f.text_area :di04, class: 'form-control', rows: 3 %>
  <%= f.label :di05, '指示：03' %><%= f.text_area :di05, class: 'form-control', rows: 1 %>
  <%= f.label :di06, '指示簿03' %><%= f.text_area :di06, class: 'form-control', rows: 3 %>
  <%= f.label :di07, '指示：04' %><%= f.text_area :di07, class: 'form-control', rows: 1 %>
  <%= f.label :di08, '指示簿04' %><%= f.text_area :di08, class: 'form-control', rows: 3 %>
  <%= f.label :di09, '指示：05' %><%= f.text_area :di09, class: 'form-control', rows: 1 %>
  <%= f.label :di10, '指示簿05' %><%= f.text_area :di10, class: 'form-control', rows: 3 %>
  <%= f.label :di11, '指示：06' %><%= f.text_area :di11, class: 'form-control', rows: 1 %>
  <%= f.label :di12, '指示簿06' %><%= f.text_area :di12, class: 'form-control', rows: 3 %>
  <%= f.label :di13, '指示：07' %><%= f.text_area :di13, class: 'form-control', rows: 1 %>
  <%= f.label :di14, '指示簿07' %><%= f.text_area :di14, class: 'form-control', rows: 3 %>
  <%= f.label :di15, '指示：08' %><%= f.text_area :di15, class: 'form-control', rows: 1 %>
  <%= f.label :di16, '指示簿08' %><%= f.text_area :di16, class: 'form-control', rows: 3 %>
  <%= f.label :di17, '指示：09' %><%= f.text_area :di17, class: 'form-control', rows: 1 %>
  <%= f.label :di18, '指示簿09' %><%= f.text_area :di18, class: 'form-control', rows: 3 %>
  <%= f.label :di19, '指示：10' %><%= f.text_area :di19, class: 'form-control', rows: 1 %>
  <%= f.label :di20, '指示簿10' %><%= f.text_area :di20, class: 'form-control', rows: 3 %>
  <%= f.label :di21, '指示：11' %><%= f.text_area :di21, class: 'form-control', rows: 1 %>
  <%= f.label :di22, '指示簿11' %><%= f.text_area :di22, class: 'form-control', rows: 3 %>
  <%= f.label :di23, '指示：12' %><%= f.text_area :di23, class: 'form-control', rows: 1 %>
  <%= f.label :di24, '指示簿12' %><%= f.text_area :di24, class: 'form-control', rows: 3 %>
  </div>
  <%= f.submit '入力', class: 'btn btn-primary btn-xs' %>
<% end %>