<header>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
        <p><font size="+1" color="#000000">記録文章参照</font><BR>
        ID : <%= @ereport.id %></p>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

  <% if @ereport.id > 20 %>
    <a href="../patients/<%= @ereport.id-@hensu2 %>#a7"><img src="../images/close_btn.png" border="0"></a>
  <% elsif @ereport.id > 10 %>
    <a href="../patients/<%= @ereport.id-@hensu1 %>#a7"><img src="../images/close_btn.png" border="0"></a>
  <% else %>
    <a href="../patients/<%= @ereport.id %>#a7"><img src="../images/close_btn.png" border="0"></a>
  <% end %>
<a href="javascript:history.back()" class="btn btn-default btn-sm active">戻る</a>
        </ul>
      </div>
  </div>
</nav>
</header>

<BR><BR>
<BR>

<div class="col-sm-5">
<% unless @ereport.er01.blank? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">【<%= @ereport.ers01 %>】<br>
  01版：<%= @ereport.ert01 %>　○○）○○○○○○○○</div>
  <!-- Table -->
  <table class="table-bordered">
  <tr>
    <td>─</td>
    <td class="text-left"><font size="+1"><%= simple_format(@ereport.er01) %></font></td>
  </tr>
  </table>
  </div>
<% end %>

<% unless @ereport.er02.blank? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">【<%= @ereport.ers02 %>】<br>
  01版：<%= @ereport.ert02 %>　○○）○○○○○○○○</div>
  <!-- Table -->
  <table class="table-bordered">
  <tr>
    <td>─</td>
    <td class="text-left"><font size="+1"><%= simple_format(@ereport.er02) %></font></td>
  </tr>
  </table>
  </div>
<% end %>

<% unless @ereport.er03.blank? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">【<%= @ereport.ers03 %>】<br>
  01版：<%= @ereport.ert03 %>　○○）○○○○○○○○</div>
  <!-- Table -->
  <table class="table-bordered">
  <tr>
    <td>─</td>
    <td class="text-left"><font size="+1"><%= simple_format(@ereport.er03) %></font></td>
  </tr>
  </table>
  </div>
<% end %>

<% unless @ereport.er04.blank? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">【<%= @ereport.ers04 %>】<br>
  01版：<%= @ereport.ert04 %>　○○）○○○○○○○○</div>
  <!-- Table -->
  <table class="table-bordered">
  <tr>
    <td>─</td>
    <td class="text-left"><font size="+1"><%= simple_format(@ereport.er04) %></font></td>
  </tr>
  </table>
  </div>
<% end %>

<% unless @ereport.er05.blank? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">【<%= @ereport.ers05 %>】<br>
  01版：<%= @ereport.ert05 %>　○○）○○○○○○○○</div>
  <!-- Table -->
  <table class="table-bordered">
  <tr>
    <td>─</td>
    <td class="text-left"><font size="+1"><%= simple_format(@ereport.er05) %></font></td>
  </tr>
  </table>
  </div>
<% end %>


<%= link_to 'edit', edit_ereport_path(@ereport) %>|
<%= link_to 'Index', ereports_path %>

</div>
