<header>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
        <p><font size="+1" color="#000000">看護指示伝票詳細</font>  ID : <%= @ninstruction.id %><br>
        <%= @ninstruction.ntj01.strftime("%Y年%m月%d日(%a)") %></p>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

  <% if @ninstruction.id > 20 %>
    <a href="../patients/<%= @ninstruction.id-@hensu2 %>#a1"><img src="../images/close_btn.png" border="0"></a>
  <% elsif @ninstruction.id > 10 %>
    <a href="../patients/<%= @ninstruction.id-@hensu1 %>#a1"><img src="../images/close_btn.png" border="0"></a>
  <% else %>
    <a href="../patients/<%= @ninstruction.id %>#a1"><img src="../images/close_btn.png" border="0"></a>
  <% end %>
<a href="javascript:history.back()" class="btn btn-default btn-sm active">戻る</a>
        </ul>
      </div>
  </div>
</nav>
</header>

<br><br><br><br>

<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
    <font size="7" color="#0000FF">○</font>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">+清潔<br>
  実施日時未定<br>
  ｵｰﾀﾞｰ番号:0000000 文書版数:01版
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">
  指示開始日時:2018/01/15 10:00<br>
  指示終了日時:<br>
  指示受け日時:2018/01/15 10:00<br>
  指示確認日時:<br>
  実施日時:<br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
臨時リネン交換<br>
毎日<br>
  </font></td>
  </tr>
  </tbody>
</table>

<% unless @ninstruction.nd01.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no01 == '無０１' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no01 == '未実施０１' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd01 %><br>
    <%= @ninstruction.nty01.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj01.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni01) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd02.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no02 == '無０２' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no02 == '未実施０２' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd02 %><br>
    <%= @ninstruction.nty02.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj02.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni02) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd03.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no03 == '無０３' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no03 == '未実施０３' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd03 %><br>
    <%= @ninstruction.nty03.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj03.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni03) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd04.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no04 == '無０４' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no04 == '未実施０４' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd04 %><br>
    <%= @ninstruction.nty04.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj04.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni04) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd05.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no05 == '無０５' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no05 == '未実施０５' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd05 %><br>
    <%= @ninstruction.nty05.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj05.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni05) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd06.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no06 == '無０６' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no06 == '未実施０６' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd06 %><br>
    <%= @ninstruction.nty06.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj06.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni06) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd07.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no07 == '無０７' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no07 == '未実施０７' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd07 %><br>
    <%= @ninstruction.nty07.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj07.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni07) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd08.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no08 == '無０８' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no08 == '未実施０８' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd08 %><br>
    <%= @ninstruction.nty08.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj08.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni08) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd09.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no09 == '無０９' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no09 == '未実施０９' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd09 %><br>
    <%= @ninstruction.nty09.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj09.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni09) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd10.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no10 == '無１０' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no10 == '未実施１０' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd10 %><br>
    <%= @ninstruction.nty10.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj10.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni10) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>




<% unless @ninstruction.nd11.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no11 == '無１１' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no11 == '未実施１１' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd11 %><br>
    <%= @ninstruction.nty11.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj11.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni11) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd12.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no12 == '無１２' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no12 == '未実施１２' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd12 %><br>
    <%= @ninstruction.nty12.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj12.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni12) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd13.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no13 == '無１３' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no13 == '未実施１３' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd13 %><br>
    <%= @ninstruction.nty13.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj13.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni13) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd14.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no14 == '無１４' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no14 == '未実施１４' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd14 %><br>
    <%= @ninstruction.nty14.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj14.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni14) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>

<% unless @ninstruction.nd15.blank? %>
<table border=1 frame="box"rules="none">
  <thead style="background-color: #CCCCCC;" border=1 frame="box"rules="none">
  <tr>
  <th>
  <% if @ninstruction.no15 == '無１５' %>
    <font size="7" color="#0000FF">○</font>
  <% elsif @ninstruction.no15 == '未実施１５' %>
    <font size="7" color="#FF0000">×</font>
  <% else %>
    <font size="7" color="#FF00FF">●</font>
  <% end %>
  </th>
  <th style="width:350px;" bgcolor="#F5F5F5" valign="top"><font size="+1">
    <%= @ninstruction.nd15 %><br>
    <%= @ninstruction.nty15.strftime("%Y/%m/%d %H:%M") %><br>
    ｵｰﾀﾞｰ番号:0000000 文書版数:01版</font>
  </th>
  <th style="width:250px;" bgcolor="#F5F5F5" valign="top">  指示開始日時:2018/01/15(月) 10:00<br>
    指示終了日時:<br>
    指示受け日時:<br>
    指示確認日時:<br>
    実施日時:<%= @ninstruction.ntj15.strftime("%Y/%m/%d %H:%M") %><br>
  </th>
  <th style="width:200px;" bgcolor="#F5F5F5" valign="top">依頼者:○○○○○○<br><br>指示受け者:○○○○○○<br>指示確認者:<br>  実施者:<br>
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td colspan="3" bgcolor="#FFFFFF" valign="top"><font size="+1">
      <%= simple_format(@ninstruction.ni15) %></font></td>
  </tr>
  </tbody>
</table>
<% end %>




<%= link_to 'edit', edit_ninstruction_path(@ninstruction) %>|
<%= link_to 'Index', ninstructions_path %>
